<header class="p-3 p-md-4 bg-white d-flex align-items-center">
  <button class="btn me-2 me-md-3 d-md-none no-print" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <i class="las la-bars"></i>
  </button>
  <h1 class="h4 m-0 d-md-none fw-bold text-primary no-print">MCPC</h1>
  <h1 class="h4 m-0 d-none d-md-block print">
    <span class="fw-bold text-primary">Marol Cerda Pediatric Clinic</span><br>
    <span class="h5 text-secondary">Online Reservation System</span>
  </h1>
</header>