{% if hasMessage %}
  {% set message = getMessage() %}
  <div class="alert alert-{{ message.type == 'notification' ? 'info' : 'warning' }} alert-dismissible fade show mb-4" role="alert">
    {{ message.body }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}