{% extends "layouts/base.twig" %}

{% block title %}
  Feedbacks
{% endblock %}

{% block content %}
  <div class="d-md-flex h-100 navbar-expand-md">
    {% include "components/sidebar.twig" %}
    <div class="col-12 col-md-9">
      {% include "components/header.twig" %}
      <main class="p-4">
        
      </main>
    </div>
  </div>
{% endblock %}