<footer class="px-4 px-lg-5 py-5 bg-secondary">
  <div class="row text-center text-md-start">
    <div class="col-12 col-md-6 col-lg-7 mb-4 mb-md-0">
      <h4 class="h6 text-accent fw-bold text-uppercase">Connect with us</h4>
      <nav class="social-media-links">
        <a href="https://facebook.com/mypediacareclinic" title="Facebook Page" target="_blank" class="text-accent-100 me-3">
          <i class="lab la-facebook-f"></i>
          @mypediacareclinic
        </a>
        <a href="tel:+639565922527" title="Telephone Number" class="text-accent-100 me-3">
          <i class="las la-phone"></i>
          0956-5922-527
        </a><br>
        <a href="https://www.google.com/maps/place/Cerda+Maternity+Clinic/@14.0694474,121.3228422,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd5cc94c759cfb:0xc611b4ce627a1d8d!8m2!3d14.0694422!4d121.3250309" title="Google Maps Location" target="_blank" class="text-accent-100 d-inline-block me-3">
          <i class="las la-map-marker"></i>
          2nd floor of Cerda Maternity Clinic
        </a>
      </nav>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <h4 class="h6 text-accent fw-bold text-uppercase">Site Links</h4>
      <nav>
        <a href="/" class="text-accent-100 me-3">Home</a>
        <a href="/about" class="text-accent-100 me-3">About</a>
        <a href="/help" class="text-accent-100 me-3">Help</a>
        <a href="/make-appointment" class="text-accent-100 me-3">Make appointment</a>
      </nav>
    </div>
  </div>
</footer>